.carousel {
    position: relative;
    width: 100%;
    height: auto;
}

.carousel-container {
    display: flex;
    will-change: transform;
    overflow: hidden;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
}